<div class="dashboard-container">
 <div class="search-container">

  <div class="search-box">
    <i class="fas fa-search search-icon"></i>

    <input
      type="text"
      [(ngModel)]="searchText"
      placeholder="Search anything (name, email, phone, qualification...)"
      class="search-bar">
  </div>

  <button
    *ngIf="searchText"
    (click)="searchText = ''"
    class="clear-search-btn">
    ×
  </button>

  <div class="view-toggle-group">
    <button
      class="view-btn"
      [class.active]="viewMode === 'list'"
      (click)="viewMode='list'">
      <i class="fas fa-list"></i>
    </button>

    <button
      class="view-btn"
      [class.active]="viewMode === 'grid'"
      (click)="viewMode='grid'">
      <i class="fas fa-th-large"></i>
    </button>
  </div>

</div>

  <p class="summary-text">
    Total Registered Applicants:
    <strong>{{ applicants.length }}</strong>
    <span *ngIf="searchText" class="filtered-badge">
      | Matching:
      <strong>{{ (applicants | filter: searchText).length }}</strong>
    </span>
  </p>

 

  <table
    class="basic-table"
    *ngIf="
      viewMode === 'list' &&
      applicants.length > 0 &&
      (applicants | filter: searchText).length > 0
    ">

    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Qualification</th>
        <th>Gender</th>
        <th>Language Known</th>
        <th>Resume</th>
        <th>Marksheet</th>
        <th>Applied At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of applicants | filter: searchText">
      <td>{{ a.id }}</td>
      <td class="bold-text">{{ a.name | titlecase }}</td>
      <td>{{ a.email }}</td>
      <td>{{ a.phone }}</td>
      <td>{{ a.qualification }}</td>
      <td>{{ a.gender }}</td>
      <td>{{ a.languages }}</td>
      <td>
        <a
          [href]="'http://localhost:8081/uploads/' + a.resumePath"
          target="_blank">
          View Resume
        </a>
      </td>
      <td>
        <a
          [href]="'http://localhost:8081/uploads/' + a.marksheetPath"
          target="_blank">
          View Marksheet
        </a>
      </td>
      <td>
        {{ a.createdAt | date:'medium' }}
      </td>
      <td>
        <button
          (click)="openEditModal(a)"
          class="btn-edit">
          <i class="fas fa-pencil-alt"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

<div
  class="grid-container"
  *ngIf="viewMode === 'grid' && applicants.length > 0">

  <div
    class="applicant-card"
    *ngFor="let a of applicants | filter: searchText">


    <ng-container *ngIf="editingId === a.id; else gridViewTemplate">

      <div class="profile-section">

        <img
          *ngIf="a.photoPath"
          [src]="'http://localhost:8081/uploads/' + a.photoPath"
          class="profile-photo">

        <div
          *ngIf="!a.photoPath"
          class="profile-avatar">

          {{ a.name?.charAt(0)?.toUpperCase() }}

        </div>

      </div>

      <input
        type="text"
        [(ngModel)]="editData.name"
        class="edit-input">

      <input
        type="email"
        [(ngModel)]="editData.email"
        class="edit-input">

      <input
        type="text"
        [(ngModel)]="editData.phone"
        maxlength="10"
        class="edit-input">

      <input
        type="text"
        [(ngModel)]="editData.qualification"
        class="edit-input">
  
<div class="edit-section">
  <label><strong>Gender:</strong></label>

  <div class="radio-group">
    <label>
      <input
        type="radio"
        name="editGender{{a.id}}"
        value="Male"
        [(ngModel)]="editData.gender">
      Male
    </label>

      <label>
        <input
          type="radio"
          name="editGender{{a.id}}"
          value="Female"
          [(ngModel)]="editData.gender">
        Female
      </label>
    </div>
  </div>

  <div class="edit-section">
    <label><strong>Language Known:</strong></label>
  <div class="language-card">

    <h4>English</h4>

    <div class="skill-options">

      <label>
        <input type="checkbox"
               [(ngModel)]="languages.english.read">
        Read
      </label>

      <label>
        <input type="checkbox"
               [(ngModel)]="languages.english.write">
        Write
      </label>

      <label>
        <input type="checkbox"
               [(ngModel)]="languages.english.speak">
        Speak
      </label>

      <label>
        <input type="checkbox"
               [(ngModel)]="languages.english.all"
               (change)="toggleAll(languages.english)">
        All
      </label>

    </div>

    <progress
      [value]="getProgress(languages.english)"
      max="100">
    </progress>

    <span>{{ getProgress(languages.english) }}%</span>

  </div>

  <!-- French -->
  <div class="language-card">

    <h4>French</h4>

    <div class="skill-options">

      <label>
        <input type="checkbox"
               [(ngModel)]="languages.french.read">
        Read
      </label>

      <label>
        <input type="checkbox"
               [(ngModel)]="languages.french.write">
        Write
      </label>

      <label>
        <input type="checkbox"
               [(ngModel)]="languages.french.speak">
        Speak
      </label>

      <label>
        <input type="checkbox"
               [(ngModel)]="languages.french.all"
               (change)="toggleAll(languages.french)">
        All
      </label>

    </div>

    <progress
      [value]="getProgress(languages.french)"
      max="100">
    </progress>

    <span>{{ getProgress(languages.french) }}%</span>

  </div>

  <!-- Japanese -->
  <div class="language-card">

    <h4>Japanese</h4>

    <div class="skill-options">

      <label>
        <input type="checkbox"
               [(ngModel)]="languages.japanese.read">
        Read
      </label>

      <label>
        <input type="checkbox"
               [(ngModel)]="languages.japanese.write">
        Write
      </label>

      <label>
        <input type="checkbox"
               [(ngModel)]="languages.japanese.speak">
        Speak
      </label>

      <label>
        <input type="checkbox"
               [(ngModel)]="languages.japanese.all"
               (change)="toggleAll(languages.japanese)">
        All
      </label>

    </div>

    <progress
      [value]="getProgress(languages.japanese)"
      max="100">
    </progress>

    <span>{{ getProgress(languages.japanese) }}%</span>

  </div>

</div>
 
<div class="file-upload-row">

  <label class="file-placeholder">
    <input
      type="file"
      (change)="onEditResumeSelect($event)">
    📄 Upload Resume
  </label>

  <label class="file-placeholder">
    <input
      type="file"
      (change)="onEditMarksheetSelect($event)">
    🎓 Upload Marksheet
  </label>

</div>

      <div class="action-cell">

        <button
          (click)="saveEdit()"
          class="btn-save">
          Save
        </button>

        <button
          (click)="cancelEdit()"
          class="btn-cancel">
          Cancel
        </button>

      </div>

    </ng-container>

    <ng-template #gridViewTemplate>

      <div class="profile-section">
        <img
          *ngIf="a.photoPath"
          [src]="'http://localhost:8081/uploads/' + a.photoPath"
          class="profile-photo">

        <div
          *ngIf="!a.photoPath"
          class="profile-avatar">

          {{ a.name?.charAt(0)?.toUpperCase() }}

        </div>
      <button
  (click)="startEdit(a)"
  class="profile-edit-btn"
  title="Edit">
  <i class="fas fa-pencil-alt"></i>
</button>
      </div>
     <h3>{{ a.name | titlecase }}</h3>

      <p>
        <strong>ID:</strong>
        {{ a.id }}
      </p>

      <p>
        <strong>Email:</strong>
        {{ a.email }}
      </p>

      <p>
        <strong>Phone:</strong>
        {{ a.phone }}
      </p>

      <p>
        <strong>Qualification:</strong>
        {{ a.qualification }}
      </p>

      <p>
        <strong>Gender:</strong>
        {{ a.gender }}
      </p>

      <p>
        <strong>Language Known:</strong>
        {{ a.languages }}
      </p>

      <p>
        <a
          [href]="'http://localhost:8081/uploads/' + a.resumePath"
          target="_blank">
          Resume
        </a>
      </p>

      <p>
        <a
          [href]="'http://localhost:8081/uploads/' + a.marksheetPath"
          target="_blank">
          Marksheet
        </a>
      </p>

      <p>
        {{ a.createdAt | date:'medium' }}
      </p>

    </ng-template>

  </div>

</div>
<dialog id="editDialog" class="edit-dialog">

  <h2>Edit Applicant</h2>

  <input
    type="text"
    [(ngModel)]="editData.name"
    placeholder="Name"
    class="edit-input">

  <input
    type="email"
    [(ngModel)]="editData.email"
    placeholder="Email"
    class="edit-input">

  <input
    type="text"
    [(ngModel)]="editData.phone"
    placeholder="Phone"
    class="edit-input">

  <input
    type="text"
    [(ngModel)]="editData.qualification"
    placeholder="Qualification"
    class="edit-input">

  <div class="edit-section">
    <strong>Gender</strong>

    <div class="radio-group">

      <label>
        <input
          type="radio"
          value="Male"
          [(ngModel)]="editData.gender">
        Male
      </label>

      <label>
        <input
          type="radio"
          value="Female"
          [(ngModel)]="editData.gender">
        Female
      </label>

    </div>
  </div>

  <div class="edit-section">

    <strong>Language Known</strong>

  <div class="language-card">

  <h4>English</h4>

  <div class="skill-options">

    <label>
      <input
        type="checkbox"
        [(ngModel)]="languages.english.read">
      Read
    </label>

    <label>
      <input
        type="checkbox"
        [(ngModel)]="languages.english.write">
      Write
    </label>

    <label>
      <input
        type="checkbox"
        [(ngModel)]="languages.english.speak">
      Speak
    </label>

    <label>
      <input
        type="checkbox"
        [(ngModel)]="languages.english.all"
        (change)="toggleAll(languages.english)">
      All
    </label>

  </div>

  <progress
    [value]="getProgress(languages.english)"
    max="100">
  </progress>

  <span>{{ getProgress(languages.english) }}%</span>

</div>


<div class="language-card">

  <h4>French</h4>

  <div class="skill-options">

    <label>
      <input
        type="checkbox"
        [(ngModel)]="languages.french.read">
      Read
    </label>

    <label>
      <input
        type="checkbox"
        [(ngModel)]="languages.french.write">
      Write
    </label>

    <label>
      <input
        type="checkbox"
        [(ngModel)]="languages.french.speak">
      Speak
    </label>

    <label>
      <input
        type="checkbox"
        [(ngModel)]="languages.french.all"
        (change)="toggleAll(languages.french)">
      All
    </label>

  </div>

  <progress
    [value]="getProgress(languages.french)"
    max="100">
  </progress>

  <span>{{ getProgress(languages.french) }}%</span>

</div>


<div class="language-card">

  <h4>Japanese</h4>

  <div class="skill-options">

    <label>
      <input
        type="checkbox"
        [(ngModel)]="languages.japanese.read">
      Read
    </label>

    <label>
      <input
        type="checkbox"
        [(ngModel)]="languages.japanese.write">
      Write
    </label>

    <label>
      <input
        type="checkbox"
        [(ngModel)]="languages.japanese.speak">
      Speak
    </label>

    <label>
      <input
        type="checkbox"
        [(ngModel)]="languages.japanese.all"
        (change)="toggleAll(languages.japanese)">
      All
    </label>

  </div>

  <progress
    [value]="getProgress(languages.japanese)"
    max="100">
  </progress>

  <span>{{ getProgress(languages.japanese) }}%</span>

</div>
</div>

  <label class="file-placeholder">
  <input
    type="file"
    (change)="onEditResumeSelect($event)">
  {{ editResumeFile?.name || '📄 Upload Resume' }}
</label>

<label class="file-placeholder">
  <input
    type="file"
    (change)="onEditMarksheetSelect($event)">
  {{ editMarksheetFile?.name || '🎓 Upload Marksheet' }}
</label>
  <div class="action-cell">

    <button
      (click)="saveEdit()"
      class="btn-save">
      Save
    </button>

    <button
      (click)="closeEditModal()"
      class="btn-cancel">
      Cancel
    </button>

  </div>

</dialog>
