<div class="home-container">

  <div class="welcome-card">

      <button
        class="dashboard-icon"
        (click)="goToDashboard()">

        <i class="fa-solid fa-user"></i>

      </button>

      <button
        class="logout-btn"
        (click)="logout()">

        <i class="fa-solid fa-right-from-bracket"></i>

      </button>

      <h1>
          Hi {{ userName() }} 👋
      </h1>

      <h2>
          {{ greeting() }}
      </h2>

      <hr>

      <p>
          Welcome back to Job Portal
      </p>

      <span>
          Your career journey starts here 🚀
      </span>

      <!-- Birthday Card --> 
  <div 
    class="birthday-card"
    *ngIf="birthdayMessage()">

    <i class="fa-solid fa-cake-candles"></i>

    {{ birthdayMessage() }}

  </div>

  </div>



  <!-- Companies Card -->
  <div class="company-card">

    <div class="company-title">

      <i class="fa-solid fa-building"></i>

      <h2>
        Companies Applied
      </h2>

    </div>

 

    <div
      class="company-grid"
      *ngIf="companies().length > 0">

      <div
        class="company-item"
        *ngFor="let company of companies()">

        <i class="fa-solid fa-circle-check"></i>

        {{ company }}

      </div>

    </div>

    <!-- Empty state -->
    <div
      class="empty-company"
      *ngIf="companies().length === 0">

      <i class="fa-solid fa-briefcase"></i>

      <h3>
        No companies applied yet
      </h3>

      <p>
        Start applying and your companies will appear here.
      </p>

    </div>

  </div>

</div>