body{
  background: linear-gradient(135deg,#eef2ff,#f8fafc);
}

/* Main Container */
.home-container{
  min-height:100vh;
  padding:40px;
  background: linear-gradient(135deg,#eef2ff,#f8fafc);
}

/* Floating buttons */
.dashboard-icon,
.logout-btn{
    position: fixed;
    right: 30px;
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 24px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    transition: .3s;
    z-index: 1000;
}

.dashboard-icon{
    top: 25px;
    background: linear-gradient(135deg,#3b82f6,#2563eb);
}

.logout-btn{
    top: 105px;
    background: linear-gradient(135deg,#ff5f6d,#ff2d55);
}

.dashboard-icon:hover,
.logout-btn:hover{
    transform: translateY(-5px) scale(1.08);
}


/* Welcome Card */
.welcome-card{
  max-width:900px;
  margin:auto;
  padding:70px;
  border-radius:30px;
  background:rgba(255,255,255,.75);
  backdrop-filter:blur(20px);
  box-shadow:
      0 10px 40px rgba(0,0,0,.08);
  text-align:center;
}

.welcome-card h1{
  font-size:4rem;
  font-weight:700;
  color:#172554;
  margin-bottom:35px;
}

.welcome-card h2{
  color:#2563eb;
  font-size:2rem;
  margin-bottom:30px;
}

.welcome-card p{
  font-size:2rem;
  color:#1e293b;
  margin-bottom:20px;
}

.welcome-card span{
  color:#64748b;
  font-size:1.2rem;
}

/* Birthday Card */
.birthday-card{
  margin:40px auto;
  max-width:900px;
  background:linear-gradient(135deg,#ff9966,#ff5e62);
  color:white;
  padding:30px;
  border-radius:25px;
  font-size:1.2rem;
  box-shadow:0 10px 35px rgba(255,94,98,.4);
  line-height:1.8;
}

/* Company Card */
.company-card{
  margin-top:50px;
  padding:50px;
  border-radius:30px;
  background:white;
  box-shadow:
    0 10px 40px rgba(0,0,0,.08);
}


.company-card h2{
  text-align:center;
  font-size:2.3rem;
  color:#172554;
  margin-bottom:40px;
}

.company-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}
.company-item{
    background: linear-gradient(
        135deg,
        #3b82f6,
        #2563eb
    );

    color:white;

    padding:22px 35px;

    border-radius:50px;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;

    font-size:1.3rem;
    font-weight:600;

    box-shadow:
        0 10px 25px rgba(37,99,235,.3);

    transition:.3s;
}

.company-item:hover{
    transform:translateY(-5px);
}

.company-item i{
    color:#86efac;
}
.company-title{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    margin-bottom:40px;
}

.company-title i{
    font-size:34px;
    color:#38bdf8;
}

.company-title h2{
    margin:0;
    font-size:3rem;
    color:#0f172a;
    font-weight:700;
}
