<div class="sidebar" [class.collapsed]="!isSidebarOpen">

    <!-- Header -->
    <div class="sidebar-header">

        <div class="sidebar-logo">

            <i class="fa-solid fa-user-shield"></i>

            <h2 *ngIf="isSidebarOpen">Admin</h2>

        </div>

        <button
            class="sidebar-toggle"
            (click)="isSidebarOpen = !isSidebarOpen">

            <i
                class="fa-solid"
                [ngClass]="isSidebarOpen
                    ? 'fa-angle-left'
                    : 'fa-angle-right'">
            </i>

        </button>

    </div>

    <!-- Navigation -->
    <div class="sidebar-menu">

        <!-- Dashboard -->
        <button
            class="nav-btn"
            [class.active]="currentPage === 'analytics'"
            (click)="analytics.emit()">

            <i class="fa-solid fa-table-columns"></i>

            <span *ngIf="isSidebarOpen">Dashboard</span>

        </button>

        <!-- User -->
        <button
            class="nav-btn"
            [class.active]="currentPage === 'dashboard'"
            (click)="dashboard.emit()">

            <i class="fa-solid fa-user"></i>

            <span *ngIf="isSidebarOpen">User</span>

        </button>

    </div>

    <!-- Logout -->
    <div class="sidebar-bottom">

        <button
            class="logout-btn"
            (click)="logout.emit()">

            <i class="fa-solid fa-right-from-bracket"></i>

            <span *ngIf="isSidebarOpen">Logout</span>

        </button>

    </div>

</div>